version: '3.8'

services:
  db:
    image: postgres:15
    container_name: dutos_db
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      # dutos_db, dutos_user, dutos_pass --- IGNORE ---
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: